<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Note</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1><i class="fa-regular fa-file-lines"></i>Edit Note</h1>
    <a href="/" class="btn">Back</a>
  </header>

  <main>
    <form action="/edit/<%=note._id%>" method="post" class="note-form">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="<%=note.title%>">

      <label for="content">Content:</label>
      <textarea id="content" name="content"><%=note.content%></textarea>

      <button type="submit" class="btn">Update Note</button>
    </form>
  </main>
</body>
</html>
