* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f1e7f8;
  color: #333;
  padding: 0 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  flex-wrap: wrap;
}

header h1 {
  font-size: 1.8rem;
  color: #4f46e5;
  display: flex;
  gap: 10px;
  align-items: center;
}

header .btn {
  background: white;
  color: #4f46e5;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

header a.btn:hover {
  background: #5879e4;
  color: white;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0px;
}

.note-card {
  background: white;
  max-width: 280px;
  flex: 1 1 220px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.note-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.note-card>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.note-card .note-date{
  font-size: 0.75rem;
  color: #666;
  margin-bottom: 5px;
}

.note-actions {
  display: flex;
  gap: 10px;
}

.note-actions a {
  text-decoration: none;
  color: #736fc9;
  font-weight: bold;
  transition: 0.3s;
}

.note-actions a:hover {
  color: #4f46e5;
}

.note-card h3 {
  font-size: 1.3rem;
  color: #132f95;
}

.note-card p {
  font-size: 0.95rem;
  color: #555;
  /* color: #132f95; */
}

.note-preview {
  font-size: 0.95rem;
  color: #555;
  height: 120px;
  /* display: -webkit-box;
  -webkit-line-clamp: 5; /* show 5 lines max */
  /* -webkit-box-orient: vertical;  */
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.85rem;
  color: #4f46e5;
  font-weight: bold;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.note-form {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.note-form input,
.note-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.note-form textarea {
  min-height: 250px;
  resize: vertical;
}

.note-form button {
  background: #4f46e5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.note-form button:hover {
  background: #3730a3;
}

.note-detail {
  background: white;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.note-detail .note-date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.note-detail>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.note-detail h2 {
  font-size: 2rem;
  color: #132f95;
}


.note-content {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #444;
  white-space: pre-wrap;
  word-break: break-word;
}